<div>
  
  <h1>Roles</h1>

  <button mat-raised-button (click)='handleCreateClick()'>Create</button>
  
  <table *ngIf="dataSource$ | async as dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let role"> {{ role.name }} </td>
    </ng-container>
  
      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td style="width:100px" mat-cell *matCellDef="let role">
            <button mat-icon-button (click)="handleEditClick(role)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let data; columns: columnsToDisplay"></tr>
  
  </table>  

</div>
