<div *ngIf="vm$ | async as vm">

  <h1 class="mat-headline">Physician List</h1>

  <button mat-raised-button (click)='create()'>Create</button>
  
  <table mat-table [dataSource]="vm.dataSource$ | async" class="mat-elevation-z8">
  
      <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> Firstname </th>
          <td mat-cell *matCellDef="let physician"> {{ physician.firstname }} </td>
      </ng-container>
  
      <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> Lastname </th>
          <td mat-cell *matCellDef="let physician"> {{ physician.lastname }} </td>
      </ng-container>
  
      <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef> Street </th>
          <td mat-cell *matCellDef="let physician"> {{ physician.address.street }} </td>
      </ng-container>        
  
      <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let physician"> {{ physician.phoneNumber }} </td>
      </ng-container>        
      
      <ng-container matColumnDef="emailAddress">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let physician"> {{ physician.emailAddress }} </td>
      </ng-container>        
  
      <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td style="width:100px" mat-cell *matCellDef="let physician">
            <button mat-icon-button (click)="edit(physician)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="vm.columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let data; columns: vm.columnsToDisplay"></tr>
  
  </table>

  <mat-paginator #paginator [length]="vm.length" [pageSize]="vm.pageSize" [pageSizeOptions]="[5, 10, 20]" class="mat-elevation-z8" (page)="handlePage(event$)"></mat-paginator>

</div>

