<mat-card *ngFor="let nbp of (nearByPhysicians$ | async)" class="mat-elevation-z3">
    <mat-card-title> {{ nbp.physician.title }} {{ nbp.physician.firstname }} {{ nbp.physician.lastname }} </mat-card-title>
    <mat-card-subtitle>{{ nbp.physician.street }}</mat-card-subtitle>
    <mat-card-content>{{ nbp.physician.phoneNumber }}</mat-card-content>
    <google-map height="150px" width="100%" [center]="{ lat: nbp.physician.latitude, lng: nbp.physician.longitude }">
        <map-marker
        title = "{{ nbp.physician.title }} {{ nbp.physician.firstname }} {{ nbp.physician.lastname }}"
        [position]="{ lat: nbp.physician.latitude, lng: nbp.physician.longitude }"
      >
      </map-marker>
    </google-map>
    <mat-card-content class="footer"> {{ nbp.distance }} </mat-card-content>
</mat-card>