<div fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title>{{ "UNSUPPORT_BROWSER.TITLE" | translate }}</h2>

  <mat-dialog-content fxLayout="row">
    <div fxLayoutGap="1em">
      <h3>
        {{ "UNSUPPORT_BROWSER.TEXT_1" | translate }}
        {{ "UNSUPPORT_BROWSER.TEXT_2" | translate }}
      </h3>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">
      {{ "UNSUPPORT_BROWSER.ACCEPT" | translate }}
    </button>
  </mat-dialog-actions>
</div>