@import '../../../assets/base/variables';
@import '../../../assets/base/placeholders';
@import '../../../assets/framework/breakpoints';

h1 {
    @extend %page-heading;
}

button {
    margin: 15px 0px 15px $page-gutter-left;    
}

table {
    margin: 0px 0px 0px $page-gutter-left;
    width: calc(100% - 60px )
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {


}

@media (min-width: $screen-lg-min) {


}