<mat-toolbar class="mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <h1>Physician Lookup</h1>

</mat-toolbar>  

<mat-sidenav-container>
    <mat-sidenav #drawer mode="side" (click)="drawer.close()">
      <button mat-button routerLink="/">Physicians</button>
      <button mat-button routerLink="/users">Users</button>
      <button mat-button routerLink="/roles">Roles</button>
      <button mat-button routerLink="/login">Logout</button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-outlet-container">
        <router-outlet #router></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
