@import '../../../../assets/base/variables';
@import '../../../../assets/base/placeholders';
@import '../../../../assets/framework/breakpoints';

h1 {

}

button {
    margin: 15px 0px 15px 25px;    
}

table {
    margin: 0px 0px 0px 25px;
    width: calc(100% - 60px )
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {


}

@media (min-width: $screen-lg-min) {


}